.custom-date-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid gray;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}

.custom-date-input:hover {
  border-color: black;
}
.custom-datepicker-popper {
  z-index: 1000; /* Ensure the popper is above other elements */
}

