.logIn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Vertically and horizontally center the card */
}

.login-form {
  border-radius: 25px;
  box-shadow: 0 0 20px #ddd;
  padding: 3em 2em;
  width: fit-content;
}

.p-text {
  font-weight: 300;
  color: white;
}

.button {
  background-color: #ffffff;
  color: #009879; /* Text color */
  margin: 0 auto; /* Center the button */
  display: block;
  padding: 1em 2em;
  width: 100%;
  border-radius: 50px;
  border: none;
}

.button:hover {
  background-color: #006d5b;
  color: #ffffff; /* Text color */
  cursor: pointer;
}

@media (max-width: 480px) {
  .logIn {
    padding: 1em; /* Add padding for smaller screens */
  }
}
